html {
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #3b3b3b;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-image: url("../img/Bk.png");
  background-repeat: repeat;
}
.text-center {
  text-align: center;
}
.page-wrapper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 1000px;
  margin: 5rem auto;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 6px;
}
@media (max-width: 1199px) {
  .page-wrapper {
    width: 920px;
  }
}
@media (max-width: 991px) {
  .page-wrapper {
    width: auto;
    margin: 5rem 3rem;
  }
}
@media (max-width: 767px) {
  .page-wrapper {
    margin: 1.5rem;
  }
}
@media (max-width: 400px) {
  .page-wrapper {
    margin: 1rem;
  }
}
.page-wrapper .page {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 2px -2px #d2d5d7;
  -moz-box-shadow: 0 2px 2px -2px #d2d5d7;
  box-shadow: 0 2px 2px -2px #d2d5d7;
  border: 1px rgba(0, 0, 0, 0.05) solid;
  padding: 0 2rem;
  background-color: white;
  font-size: 1.3rem;
}
@media (max-width: 400px) {
  .page-wrapper .page {
    padding: 0 1rem;
  }
}
.page-wrapper .page .area {
  margin: 0 auto;
  margin: 18px 0;
}
.page-wrapper .page h1 {
  font-size: 5.4rem;
  color: #2288b7;
}
@media (max-width: 767px) {
  .page-wrapper .page h1 {
    font-size: 4rem;
  }
}
.page-wrapper .page h3 {
  font-size: 1.8rem;
  color: #3b3b3b;
  margin-top: 18px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .page-wrapper .page h3 {
    margin-bottom: 18px;
  }
}
.page-wrapper .page hr {
  border: none;
  border-top: 1px solid #d2d5d7;
}
.page-wrapper .page ul.menu {
  font-size: 1.4rem;
}
.page-wrapper .page ul.menu input,
.page-wrapper .page ul.menu li.item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  background-color: #eaeced;
  border: none;
  vertical-align: top;
  margin: 0 5px;
  min-height: 30px;
}
.page-wrapper .page ul.menu li.item {
  padding: 0 15px;
  line-height: 30px;
  cursor: pointer;
}
.page-wrapper .page ul.menu li.item.button {
  font-weight: bold;
}
.page-wrapper .page ul.menu li.item.button:active {
  position: relative;
  top: 1px;
}
.page-wrapper .page ul.menu li.item.reset {
  background-color: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#c4c4c4));
  background: -webkit-linear-gradient(top, #f2f2f2, #c4c4c4);
  background: -moz-linear-gradient(top, #f2f2f2, #c4c4c4);
  background: -ms-linear-gradient(top, #f2f2f2, #c4c4c4);
  background: -o-linear-gradient(top, #f2f2f2, #c4c4c4);
}
.page-wrapper .page ul.menu li.item.search {
  background-color: #6ba1f3;
  background: -webkit-gradient(linear, left top, left bottom, from(#6ba1f3), to(#2077f0));
  background: -webkit-linear-gradient(top, #6ba1f3, #2077f0);
  background: -moz-linear-gradient(top, #6ba1f3, #2077f0);
  background: -ms-linear-gradient(top, #6ba1f3, #2077f0);
  background: -o-linear-gradient(top, #6ba1f3, #2077f0);
  color: white;
}
.page-wrapper .page ul.menu li.item.select {
  color: black;
  text-align: left;
}
.page-wrapper .page ul.menu li.item.select .chosen-container {
  top: -1px;
}
.page-wrapper .page ul.menu li.item.select .chosen-container .chosen-drop {
  border-color: #a6a6a6;
}
.page-wrapper .page ul.menu li.item.select .chosen-container-single .chosen-single {
  border-color: #a6a6a6;
}
.page-wrapper .page ul.menu li.item.select .chosen-container-single .chosen-single span {
  color: black;
  line-height: 24px;
}
.page-wrapper .page ul.menu li.item.select .chosen-container-active.chosen-with-drop .chosen-single {
  border-color: #a6a6a6;
}
.page-wrapper .page ul.menu li.item.select select {
  width: 100%;
}
@media (max-width: 767px) {
  .page-wrapper .page ul.menu li.item.select {
    display: table;
    margin: 10px auto;
  }
}
.page-wrapper .page ul.menu input.search-input {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2.5px;
  background-color: white;
  border: 1px solid #d2d5d7;
  width: 370px;
  padding-left: 10px;
}
@media (max-width: 991px) {
  .page-wrapper .page ul.menu input.search-input {
    width: 250px;
  }
}
@media (max-width: 767px) {
  .page-wrapper .page ul.menu input.search-input {
    width: 100%;
    margin: 0;
  }
}
.page-wrapper .page ul.menu input.search-input::-webkit-input-placeholder {
  font-size: 1.4rem;
}
.page-wrapper .page ul.menu input.search-input:-moz-placeholder {
  font-size: 1.4rem;
}
.page-wrapper .page ul.menu input.search-input::-moz-placeholder {
  font-size: 1.4rem;
}
.page-wrapper .page ul.menu input.search-input:-ms-input-placeholder {
  font-size: 1.4rem;
}
.page-wrapper .page .area-table {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 2px -2px #d2d5d7;
  -moz-box-shadow: 0 2px 2px -2px #d2d5d7;
  box-shadow: 0 2px 2px -2px #d2d5d7;
  display: table;
  width: 100%;
  table-layout: fixed;
}
.page-wrapper .page .area-table .area-table-row {
  display: table-row;
}
@media (max-width: 767px) {
  .page-wrapper .page .area-table .area-table-row {
    display: block;
    border-bottom: 1px solid #d2d5d7;
  }
}
.page-wrapper .page .area-table .area-table-row:nth-child(odd) {
  background-color: #f7f7f7;
}
.page-wrapper .page .area-table .area-table-row:first-of-type {
  -webkit-box-shadow: 0 2px 2px -2px #d2d5d7;
  -moz-box-shadow: 0 2px 2px -2px #d2d5d7;
  box-shadow: 0 2px 2px -2px #d2d5d7;
  background-color: #eaeced;
}
@media (max-width: 767px) {
  .page-wrapper .page .area-table .area-table-row:first-of-type {
    display: block;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.page-wrapper .page .area-table .area-table-row:first-of-type .area-table-cell {
  border-top: 1px solid #d2d5d7;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: bold;
}
.page-wrapper .page .area-table .area-table-row:first-of-type .area-table-cell:not(:last-of-type) {
  border-right: none;
}
@media (max-width: 767px) {
  .page-wrapper .page .area-table .area-table-row:first-of-type .area-table-cell:not(:last-of-type) {
    border-right: 1px solid #d2d5d7;
  }
}
.page-wrapper .page .area-table .area-table-row:not(:first-of-type) {
  cursor: pointer;
}
@media (max-width: 767px) {
  .page-wrapper .page .area-table .area-table-row:last-of-type {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.page-wrapper .page .area-table .area-table-cell {
  display: table-cell;
  border-right: 1px solid #d2d5d7;
  border-bottom: 1px solid #d2d5d7;
  padding: 12px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .page-wrapper .page .area-table .area-table-cell {
    display: block;
    width: 100%;
    border-left: 1px solid #d2d5d7;
    border-right: 1px solid #d2d5d7;
    border-bottom: none;
    padding: 10px;
    padding-top: 0;
  }
}
.page-wrapper .page .area-table .area-table-cell:first-child {
  border-left: 1px solid #d2d5d7;
  width: 60%;
  padding-left: 30px;
}
@media (max-width: 991px) {
  .page-wrapper .page .area-table .area-table-cell:first-child {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .page-wrapper .page .area-table .area-table-cell:first-child {
    width: 100%;
    padding: 10px;
  }
}
.page-wrapper .page .area-table .area-table-cell:nth-child(2) {
  width: 180px;
}
@media (max-width: 767px) {
  .page-wrapper .page .area-table .area-table-cell:nth-child(2) {
    width: 100%;
  }
}
.page-wrapper .page .area-table .area-table-cell:not(:first-child) {
  text-align: center;
}
@media (max-width: 767px) {
  .page-wrapper .page .area-table .area-table-cell:not(:first-child) {
    text-align: left;
  }
}
.page-wrapper .page .area-table .area-table-cell .title {
  margin-bottom: 5px;
  font-weight: bold;
}
.page-wrapper .page .area-table .area-table-row:first-child .area-table-cell:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media (max-width: 767px) {
  .page-wrapper .page .area-table .area-table-row:first-child .area-table-cell:first-child {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.page-wrapper .page .area-table .area-table-row:first-child .area-table-cell:last-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-wrapper .page .area-table .area-table-row:last-child .area-table-cell:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-wrapper .page .area-table .area-table-row:last-child .area-table-cell:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media (max-width: 767px) {
  .page-wrapper .page .area-table .area-table-row:last-child .area-table-cell:last-child {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.page-wrapper .page .area-table .area-table-row:last-child:first-child .area-table-cell:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-wrapper .page .area-table .area-table-row:last-child:first-child .area-table-cell:last-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-wrapper .page ul.pagination li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 2px -2px #d2d5d7;
  -moz-box-shadow: 0 2px 2px -2px #d2d5d7;
  box-shadow: 0 2px 2px -2px #d2d5d7;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eaeced));
  background: -webkit-linear-gradient(top, white, #eaeced);
  background: -moz-linear-gradient(top, white, #eaeced);
  background: -ms-linear-gradient(top, white, #eaeced);
  background: -o-linear-gradient(top, white, #eaeced);
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 1px solid #d2d5d7;
  margin: 0 1px;
  padding: 3px;
  cursor: pointer;
  line-height: 1.5rem;
  font-weight: bold;
  color: #717171;
}
@media (max-width: 767px) {
  .page-wrapper .page ul.pagination li {
    margin: 1px;
  }
}
.page-wrapper .page ul.pagination li.current {
  background: #666666;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #666666 0%, #3b3b3b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #666666), color-stop(100%, #3b3b3b));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #666666 0%, #3b3b3b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #666666 0%, #3b3b3b 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #666666 0%, #3b3b3b 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #666666 0%, #3b3b3b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #d2d5d7;
}
.rating-container {
  margin: 0 -2px;
}
.rating-container .rating {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 4px 2px -2px #d2d5d7;
  -moz-box-shadow: 0 4px 2px -2px #d2d5d7;
  box-shadow: 0 4px 2px -2px #d2d5d7;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dadcdc));
  background: -webkit-linear-gradient(top, white, #dadcdc);
  background: -moz-linear-gradient(top, white, #dadcdc);
  background: -ms-linear-gradient(top, white, #dadcdc);
  background: -o-linear-gradient(top, white, #dadcdc);
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 1px solid rgba(102, 102, 102, 0.6);
  line-height: 150%;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 2px;
  color: #666666;
}
.rating-container .rating.highlighted {
  background-color: #64c0ea;
  background: -webkit-gradient(linear, left top, left bottom, from(#64c0ea), to(#4c95dc));
  background: -webkit-linear-gradient(top, #64c0ea, #4c95dc);
  background: -moz-linear-gradient(top, #64c0ea, #4c95dc);
  background: -ms-linear-gradient(top, #64c0ea, #4c95dc);
  background: -o-linear-gradient(top, #64c0ea, #4c95dc);
  color: white;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10rem;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
@media (max-width: 1199px) {
  .modal {
    padding: 6.5rem;
  }
}
@media (max-width: 400px) {
  .modal {
    padding: 2.5rem;
  }
}
.modal.modalVisible {
  display: block;
}
.modal .content {
  background-color: white;
  position: relative;
  width: 400px;
  margin: 0 auto;
  max-height: 100%;
}
@media (max-width: 767px) {
  .modal .content {
    width: 100%;
  }
}
.modal .content .header {
  min-height: 38px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 28px;
  color: whitesmoke;
  padding-right: 38px;
}
.modal .content .header .close {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  right: 5px;
  top: 5px;
  border: 2px solid whitesmoke;
  width: 27px;
  height: 28px;
  position: absolute;
  cursor: pointer;
}
.modal .content .header .close .close-ico {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  opacity: .9;
  transition: 0.4s all;
}
.modal .content .header .close .close-ico:before,
.modal .content .header .close .close-ico:after {
  position: absolute;
  left: 7.5px;
  content: ' ';
  height: 18px;
  width: 3px;
  background-color: whitesmoke;
}
.modal .content .header .close .close-ico:before {
  transform: rotate(45deg);
}
.modal .content .header .close .close-ico:after {
  transform: rotate(-45deg);
}
.modal .content .info {
  margin: 0 auto;
  padding: 10px;
  font-size: 1.4rem;
  max-height: 100%;
  display: none;
}
.modal .content .info h5 {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.modal .content .info .title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}
.modal .content .info.visible {
  display: block;
}
