//COLORS
@blue: rgb(34, 136, 183);
@dark-black: rgb(59, 59, 59);
@black: rgb(102, 102, 102);
@light-black: rgb(113, 113, 113);
@dark-grey: rgb(210, 213, 215);
@grey: rgb(234, 236, 237);
@light-grey: rgb(247, 247, 247);

//MIXINS
.gradient (@startColor, @endColor) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.radial-gradient (@startColor, @endColor) {
  background: @startColor; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  @startColor 0%, @endColor 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,@startColor), color-stop(100%,@endColor)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  @startColor 0%,@endColor 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  @startColor 0%,@endColor 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  @startColor 0%,@endColor 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  @startColor 0%,@endColor 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@startColor', endColorstr='@endColor',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.border-radius (@radius: 50%) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius:    @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius:  @bottomleft;
  -webkit-border-top-left-radius:     @topleft;

  -moz-border-radius-topright:        @topright;
  -moz-border-radius-bottomright:     @bottomright;
  -moz-border-radius-bottomleft:      @bottomleft;
  -moz-border-radius-topleft:         @topleft;

  border-top-right-radius:            @topright;
  border-bottom-right-radius:         @bottomright;
  border-bottom-left-radius:          @bottomleft;
  border-top-left-radius:             @topleft;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.placeholder(@rules) {
  &::-webkit-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
  }
  &::-moz-placeholder {
    @rules();
  }
  &:-ms-input-placeholder {
    @rules();
  }
}

//SCREENS (desktop first)
@desktopMD: 1199px;
@desktopSM: 991px;
@desktopXS: 767px;
@desktopVS: 400px; //very small

//RULES
html {
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: @dark-black;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("../img/Bk.png");
  background-repeat: repeat;
}

.text-center {
  text-align: center;
}

.page-wrapper {
  .border-radius(5px);
  width: 1000px;
  margin: 5rem auto;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 6px;

  @media (max-width: @desktopMD) {
    width: 920px;
  }

  @media (max-width: @desktopSM) {
    width: auto;
    margin: 5rem 3rem;
  }

  @media (max-width: @desktopXS) {
    margin: 1.5rem;
  }

  @media (max-width: @desktopVS) {
    margin: 1rem;
  }

  .page {
    .border-radius(5px);
    .box-shadow(0 2px 2px -2px @dark-grey);
    border: 1px rgba(0, 0, 0, 0.05) solid;
    padding: 0 2rem;
    background-color: white;
    font-size: 1.3rem;

    @media (max-width: @desktopVS) {
      padding: 0 1rem;
    }

    .area {
      margin: 0 auto;
      margin: 18px 0;
    }

    h1 {
      font-size: 5.4rem;
      color: @blue;

      @media (max-width: @desktopXS) {
        font-size: 4rem;
      }
    }

    h3 {
      font-size: 1.8rem;
      color: @dark-black;
      margin-top: 18px;
      margin-bottom: 30px;

      @media (max-width: @desktopXS) {
        margin-bottom: 18px;
      }

    }

    hr {
      border: none;
      border-top: 1px solid @dark-grey;
    }

    ul.menu {
      font-size: 1.4rem;
      input, li.item {
        .border-radius(3px);
        display: inline-block;
        background-color: @grey;
        border: none;
        vertical-align: top;
        margin: 0 5px;
        min-height: 30px;
      }

      li.item {
        padding: 0 15px;
        line-height: 30px;
        cursor: pointer;

        &.button {
          font-weight: bold;

          &:active {
            position: relative;
            top: 1px;
          }
        }

        &.reset {
          .gradient(rgb(242, 242, 242), rgb(196, 196, 196));
        }

        &.search {
          .gradient(rgb(107, 161, 243), rgb(32, 119, 240));
          color: white;
        }

        &.select {
          color: black;
          text-align: left;

          .chosen-container {
            top: -1px;

            .chosen-drop {
              border-color: rgb(166, 166, 166);
            }
          }

          .chosen-container-single {
            .chosen-single {
              border-color: rgb(166, 166, 166);

              span {
                color: black;
                line-height: 24px;
              }
            }
          }

          .chosen-container-active.chosen-with-drop {
            .chosen-single {
              border-color: rgb(166, 166, 166);
            }
          }

          select {
            width: 100%;
          }

          @media (max-width: @desktopXS) {
            display: table;
            margin: 10px auto;
          }
        }
      }

      input.search-input {
        font-family: 'Source Sans Pro', sans-serif;
        padding: 2.5px;
        background-color: white;
        border: 1px solid @dark-grey;
        width: 370px;
        padding-left: 10px;

        @media (max-width: @desktopSM) {
          width: 250px;
        }

        @media (max-width: @desktopXS) {
          width: 100%;
          margin: 0;
        }

        .placeholder({
          font-size: 1.4rem;
        });
      }
    }

    .area-table {
      .border-radius(5px);
      .box-shadow(0 2px 2px -2px @dark-grey);
      display: table;
      width: 100%;
      table-layout: fixed;

      .area-table-row {
        display: table-row;

        @media (max-width: @desktopXS) {
          display: block;
          border-bottom: 1px solid @dark-grey;
        }

        &:nth-child(odd) {
          background-color: @light-grey;
        }

        &:first-of-type {
          .box-shadow(0 2px 2px -2px @dark-grey);
          background-color: @grey;

          @media (max-width: @desktopXS) {
            display: block;
            .border-radiuses(@topleft: 5px, @topright: 5px);
          }

          .area-table-cell {
            border-top: 1px solid @dark-grey;
            padding-top: 22px;
            padding-bottom: 22px;
            font-weight: bold;

            &:not(:last-of-type) {
              border-right: none;

              @media (max-width: @desktopXS) {
                border-right: 1px solid @dark-grey;
              }
            }
          }
        }
        &:not(:first-of-type){
          cursor: pointer;
        }
        @media (max-width: @desktopXS) {
          &:last-of-type {
            .border-radiuses(@bottomleft: 5px, @bottomright: 5px);
          }
        }
      }

      .area-table-cell {
        display: table-cell;
        border-right: 1px solid @dark-grey;
        border-bottom: 1px solid @dark-grey;
        padding: 12px;
        vertical-align: middle;

        @media (max-width: @desktopXS) {
          display: block;
          width: 100%;
          border-left: 1px solid @dark-grey;
          border-right: 1px solid @dark-grey;
          border-bottom: none;
          padding: 10px;
          padding-top: 0;
        }

        &:first-child {
          border-left: 1px solid @dark-grey;
          width: 60%;
          padding-left: 30px;

          @media (max-width: @desktopSM) {
            width: 40%;
          }

          @media (max-width: @desktopXS) {
            width: 100%;
            padding: 10px;
          }
        }

        &:nth-child(2) {
          width: 180px;

          @media (max-width: @desktopXS) {
            width: 100%;
          }
        }

        &:not(:first-child) {
          text-align: center;

          @media (max-width: @desktopXS) {
            text-align: left;
          }
        }

        .title {
          margin-bottom: 5px;
          font-weight: bold;
        }
      }

      .area-table-row:first-child .area-table-cell:first-child {
        .border-radiuses(@topleft: 5px);

        @media (max-width: @desktopXS) {
          .border-radiuses(@topleft: 5px, @topright: 5px);
        }
      }
      .area-table-row:first-child .area-table-cell:last-child {
        .border-radiuses(@topright: 5px);
      }
      .area-table-row:last-child .area-table-cell:first-child {
        .border-radiuses(@bottomleft: 5px);
      }
      .area-table-row:last-child .area-table-cell:last-child {
        .border-radiuses(@bottomright: 5px);

        @media (max-width: @desktopXS) {
          .border-radiuses(@bottomleft: 5px, @bottomright: 5px);
        }
      }
      .area-table-row:last-child:first-child .area-table-cell:first-child {
        .border-radiuses(@topleft: 5px);
      }
      .area-table-row:last-child:first-child .area-table-cell:last-child {
        .border-radiuses(@topright: 5px);
      }
    }

    ul.pagination {
      li {
        .border-radius(2px);
        .box-shadow(0 2px 2px -2px @dark-grey);
        .gradient(white, @grey);
        width: 25px;
        height: 25px;
        display: inline-block;
        border: 1px solid @dark-grey;
        margin: 0 1px;
        padding: 3px;
        cursor: pointer;
        line-height: 1.5rem;
        font-weight: bold;
        color: @light-black;

        @media (max-width: @desktopXS) {
          margin: 1px;
        }

        &.current {
          .radial-gradient(@black, @dark-black);
          color: @dark-grey;
        }
      }
    }
  }
}

.rating-container {
  margin: 0 -2px;

  .rating {
    .border-radius();
    .box-shadow(0 4px 2px -2px @dark-grey);
    .gradient(white, rgb(218, 220, 220));
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 1px solid rgba(102, 102, 102, 0.6);
    line-height: 150%;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 2px;
    color: @black;

    &.highlighted {
      .gradient(rgb(100, 192, 234), rgb(76, 149, 220));
      color: white;
    }
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10rem;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;

  @media (max-width: @desktopMD) {
    padding: 6.5rem;
  }

  @media (max-width: @desktopVS) {
    padding: 2.5rem;
  }

  &.modalVisible {
    display: block;
  }

  .content {
    background-color: white;
    position: relative;
    width: 400px;
    margin: 0 auto;
    max-height: 100%;

    @media (max-width: @desktopXS) {
      width: 100%;
    }

    .header {
      min-height: 38px;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 5px 10px;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 28px;
      color: whitesmoke;
      padding-right: 38px;

      .close {
        .border-radius();
        right: 5px;
        top: 5px;
        border: 2px solid whitesmoke;
        width: 27px;
        height: 28px;
        position: absolute;
        cursor: pointer;

        .close-ico {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          width: 18px;
          height: 18px;
          opacity: .9;
          transition: 0.4s all;

          &:before, &:after {
            position: absolute;
            left: 7.5px;
            content: ' ';
            height: 18px;
            width: 3px;
            background-color: whitesmoke;
          }
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
        }
      }
    }

    .info {
      margin: 0 auto;
      padding: 10px;
      font-size: 1.4rem;
      max-height: 100%;
      display: none;

      h5 {
        font-weight: bold;
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
      }

      .title {
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
      }

      &.visible {
        display: block;
      }
    }
  }
}